In [3]:
pip install pandas_ta

Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     -------------------------------------- 115.1/115.1 kB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from pandas_ta) (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from pandas->pandas_ta) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\krist\appdata\roaming\python\python311\site-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from pandas->pandas_ta) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from pandas->pandas_ta) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\krist\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas->pandas_ta) (1.16.0)
Installing collected packages: pandas_ta
  Running setup.py install for pandas_ta: started
  Running setup.py install for pandas_ta: finished with status 'done'
Successfully installed pandas_ta-0.3.14b0
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: pandas_ta is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
import pandas_ta as ta

rel_path = "../EURUSD_Candlestick_15_M_BID_01.02.2023-17.02.2024.csv"
df = pd.read_csv(rel_path)
# Removing fractions of seconds 
df["Gmt time"] = df["Gmt time"].str.replace(".000", "")
# Changing Date time format
df["Gmt time"] = pd.to_datetime(df["Gmt time"], format = '%d.%m.%Y %H:%M:%S')
#Filtering out weekends and holidays
df = df[df.High != df.Low]
df.set_index("Gmt time", inplace = True, drop = True)

In [19]:
#Adding indicators to DataFrame
df["EMA"] = ta.ema(df.Close, length = 200)
macd = ta.macd(df.Close)
df['MACD'], df['MACD_signal'], df['MACD_hist'] = macd.iloc[:,0], macd.iloc[:,1], macd.iloc[:,2]
df['ATR'] = ta.atr(df.High, df.Low, df.Close, length = 7)

df

,Open,High,Low,Close,Volume,EMA,MACD,MACD_signal,MACD_hist,ATR
Gmt time,,,,,,,,,,
2023-02-01 00:00:00,1.08605,1.08619,1.08583,1.08604,2184.41,NaN,NaN,NaN,NaN,NaN
2023-02-01 00:15:00,1.08604,1.08623,1.08583,1.08609,2373.76,NaN,NaN,NaN,NaN,NaN
2023-02-01 00:30:00,1.08608,1.08637,1.08604,1.08630,1649.21,NaN,NaN,NaN,NaN,NaN
2023-02-01 00:45:00,1.08629,1.08638,1.08606,1.08622,2071.47,NaN,NaN,NaN,NaN,NaN
2023-02-01 01:00:00,1.08622,1.08634,1.08594,1.08607,2021.66,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2024-02-16 20:45:00,1.07744,1.07770,1.07729,1.07764,3288.91,1.075942,0.000287,-0.000068,0.000355,0.000443
2024-02-16 21:00:00,1.07764,1.07771,1.07747,1.07763,1677.19,1.075959,0.000263,-0.000074,0.000336,0.000414
2024-02-16 21:15:00,1.07763,1.07778,1.07758,1.07776,964.40,1.075977,0.000251,-0.000068,0.000319,0.000384
2024-02-16 21:30:00,1.07777,1.07778,1.07761,1.07772,1957.77,1.075994,0.000236,-0.000066,0.000303,0.000353
2024-02-16 21:45:00,1.07773,1.07775,1.07747,1.07749,1693.33,1.076009,0.000204,-0.000079,0.000283,0.000343

In [20]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
     -------------------------------------- 78.3/78.3 kB 624.4 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\krist\appdata\roaming\python\python311\site-packages (from tqdm) (0.4.6)
Installing collected packages: tqdm
Successfully installed tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script tqdm.exe is installed in 'c:\Users\krist\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
def ema_signal(df, current_candle, backcandles):
    df_slice = df.reset_index().copy()
    #Finding range of candles in window
    start = max(0, current_candle - backcandles)
    end = current_candle
    relevant_rows = df_slice.iloc[start:end]

    #Returning Signal of current window
    if all(relevant_rows['High'] < relevant_rows['EMA']):
        return 1
    elif all(relevant_rows['Low'] > relevant_rows['EMA']):
        return 2
    else:
        return 0

df = df[-20000:-1]
from tqdm import tqdm
tqdm.pandas()
df.reset_index(inplace = True)
df['EMAsignal'] = df.progress_apply(lambda row: ema_signal(df, row.name, 5) if row.name >= 20 else 0, axis = 1)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18174/18174 [01:21<00:00, 223.79it/s]
C:\Users\krist\AppData\Local\Temp\ipykernel_28528\1238899014.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EMAsignal'] = df.progress_apply(lambda row: ema_signal(df, row.name, 5) if row.name >= 20 else 0, axis = 1)

In [34]:
def total_signal(df, current_candle, backcandles):
    if (ema_signal(df, current_candle, backcandles) == 2 and
        all(df.loc[current_candle - 3: current_candle - 2, 'MACD'] < df.loc[current_candle - 3: current_candle - 2, "MACD_signal"]) and
        all(df.loc[current_candle - 1: current_candle, 'MACD'] > df.loc[current_candle - 1: current_candle, "MACD_signal"]) 
        ):
            return 2
    if (ema_signal(df, current_candle, backcandles) == 1 and
        all(df.loc[current_candle - 3: current_candle - 2, 'MACD'] > df.loc[current_candle - 3: current_candle - 2, "MACD_signal"]) and
        all(df.loc[current_candle - 1: current_candle, "MACD"] < df.loc[current_candle - 1: current_candle, "MACD_signal"]) 
        ):
          return 1
    return 0

df['TotalSignal'] = df.progress_apply(lambda row: total_signal(df, row.name, 7) if row.name != 0 else 0, axis = 1)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 18174/18174 [04:48<00:00, 63.08it/s]

In [35]:
df[df.TotalSignal != 0].head(20)

,index,Gmt time,Open,High,Low,Close,Volume,EMA,MACD,MACD_signal,MACD_hist,ATR,EMAsignal,TotalSignal
416,416,2023-02-07 08:15:00,1.07043,1.07164,1.07025,1.07107,8675.6700,1.078403,-0.000443,-0.000339,-0.000104,0.001072,1,1
963,963,2023-02-15 01:15:00,1.07409,1.07435,1.07404,1.07424,1833.2900,1.072613,0.000105,0.000074,0.000031,0.000410,2,2
1266,1266,2023-02-20 05:00:00,1.06865,1.06875,1.06836,1.06856,1908.2500,1.067656,0.000102,0.000071,0.000031,0.000417,2,2
1316,1316,2023-02-20 17:30:00,1.06866,1.06876,1.06863,1.06867,612.1600,1.068064,0.000042,0.000033,0.000009,0.000436,2,2
1416,1416,2023-02-21 18:30:00,1.06461,1.06473,1.06384,1.06419,3380.5400,1.067209,-0.000346,-0.000253,-0.000093,0.000975,1,1
1474,1474,2023-02-22 09:00:00,1.06454,1.06459,1.06354,1.06444,4431.8200,1.066370,-0.000217,-0.000149,-0.000068,0.000715,1,1
1570,1570,2023-02-23 09:00:00,1.06059,1.06062,1.06003,1.06013,4614.1400,1.063659,-0.000294,-0.000216,-0.000078,0.000713,1,1
1660,1660,2023-02-24 07:30:00,1.05903,1.05950,1.05883,1.05929,3710.0100,1.061368,-0.000137,-0.000102,-0.000035,0.000501,1,1
1743,1743,2023-02-27 04:15:00,1.05445,1.05457,1.05434,1.05441,1477.3900,1.058124,-0.000178,-0.000124,-0.000054,0.000421,1,1
1859,1859,2023-02-28 09:15:00,1.06240,1.06240,1.06160,1.06188,3462.3800,1.058698,0.000577,0.000421,0.000155,0.000918,2,2
2005,2005,2023-03-01 21:45:00,1.06705,1.06712,1.06667,1.06668,1239.8300,1.062227,0.000152,0.000111,0.000041,0.000475,2,2
2261,2261,2023-03-06 14:00:00,1.06545,1.06595,1.06502,1.06572,5695.6200,1.062792,0.000356,0.000273,0.000083,0.000869,2,2
2443,2443,2023-03-08 11:30:00,1.05360,1.05387,1.05340,1.05382,2277.7900,1.059450,-0.000044,-0.000030,-0.000014,0.000675,1,1
2483,2483,2023-03-08 21:30:00,1.05449,1.05450,1.05425,1.05432,581.6400,1.057868,-0.000041,-0.000031,-0.000010,0.000507,1,1
2502,2502,2023-03-09 02:15:00,1.05420,1.05433,1.05404,1.05432,1998.6500,1.057291,-0.000081,-0.000059,-0.000022,0.000389,1,1
2749,2749,2023-03-13 15:00:00,1.07224,1.07319,1.07187,1.07231,11297.1899,1.065124,0.000727,0.000545,0.000182,0.001756,2,2
2831,2831,2023-03-14 11:30:00,1.07201,1.07261,1.07165,1.07254,4754.5200,1.068613,0.000441,0.000299,0.000142,0.001074,2,2
3030,3030,2023-03-16 13:30:00,1.05763,1.05947,1.05662,1.05890,18440.9600,1.063167,-0.000501,-0.000356,-0.000145,0.002368,1,1
3213,3213,2023-03-20 11:15:00,1.06969,1.06978,1.06886,1.06971,7810.7500,1.065326,0.000744,0.000514,0.000230,0.001147,2,2
3298,3298,2023-03-21 08:45:00,1.07335,1.07337,1.07249,1.07298,9368.3600,1.069057,0.000340,0.000260,0.000079,0.000814,2,2

In [36]:
import numpy as np
def pointpos(x):
    if x['TotalSignal'] == 2:
        return x['Low']-1e-3
    elif x['TotalSignal'] == 1:
        return x['High']+1e-3
    else:
        return np.nan
    
df['pointpos'] = df.apply(lambda row: pointpos(row), axis = 1)

In [50]:
pip install --upgrade nbformat

Requirement already satisfied: nbformat in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\krist\appdata\roaming\python\python311\site-packages (from nbformat) (5.7.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\krist\appdata\roaming\python\python311\site-packages (from nbformat) (5.14.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\krist\appdata\roaming\python\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.1.0)
Requirement already satisfied: pywin32>=300 in c:\users\krist\appdata\roaming\python\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from datetime import datetime
st=1100
dfpl = df[st:st+350]
#dfpl.reset_index(inplace=True)
fig = go.Figure(data=[go.Candlestick(x=dfpl.index,
                open=dfpl['Open'],
                high=dfpl['High'],
                low=dfpl['Low'],
                close=dfpl['Close'])])

fig.add_scatter(x=dfpl.index, y=dfpl['pointpos'], mode="markers",
                marker=dict(size=5, color="MediumPurple"),
                name="entry")

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed